@use "sass:map";

$main-color: #3ea1d1;
$font-base: "Noto Serif JP", serif;
$color-base: #333;
$background-base: #fff;
$font-size-base: 1em; // 16px = 1em
$line-height-base: 1.7;
$font-weight-base: 300;

@function px-to-rem($pixels, $baseFontSize: 16) {
  @return math.div($pixels, $baseFontSize) * 1rem;
}

$header-height-sp: 60px;
$header-height-pc: 70px;
$width-inner: 1280px;
$color-text-gray: #888;
$color-text-light-gray: #989898;
$color-accent: #e7728e;
$color-bg-footer: #f7f7f7;
$color-overlay: rgb(0 0 0 / 12%);
$breakpoints: (
  sm: "screen and (min-width: 600px)",
  pc: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1200px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 重なり順の定義
$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // フローティング
  floating: 30,
  // ヘッダー
  header: 20,
  // フッター
  footer: 10,
  default: 1
);

body {
  font-family: $font-base;
  color: $color-base;
  background-color: $background-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
}

.inner {
  padding-inline: 15px;

  @include mq(pc) {
    max-width: calc(1200px + 40px * 2);
    margin-inline: auto;
    padding-inline: 40px;
  }
}

.pc-br {
  display: none;

  @include mq(pc) {
    display: block;
  }
}

.sp-br {
  display: block;

  @include mq(pc) {
    display: none;
  }
}

.heading {
  font-size: 1.875em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  line-height: 1;

  @include mq(pc) {
    font-size: 2.5em;
    gap: 24px;
  }

  &::after {
    width: 60px;
    height: 1px;
    content: "";
    background: $main-color;
  }
}

.spacing-section {
  margin-top: 96px;

  @include mq(pc) {
    margin-top: 160px;
  }
}

// .main {
//   display: grid;
//   gap: 96px;

//   @include mq(pc) {
//     gap: 160px;
//   }
// }

.spacing-content {
  margin-top: 46px;

  @include mq(pc) {
    margin-top: 64px;
  }
}

.button {
  letter-spacing: 0.02px;
  padding: calc(12px - 1px);
  display: flex;
  margin-inline: auto;
  justify-content: center;
  border: 1px solid $main-color;
  background: #fff;
  font-size: 0.875em;
  color: $main-color;
  width: 158px;
  transition:
    background-color 0.3s,
    color 0.3s;

  @include mq(pc) {
    margin-top: 44px;

    &:hover {
      background-color: $main-color;
      color: #fff;
      transform: scale(1.1, 1.1);
    }
  }
}

// スムーススクロール
html {
  scroll-behavior: smooth;
  scroll-padding-top: $header-height-sp;
  @include mq(pc) {
    scroll-padding-top: $header-height-pc;
  }
}

/* -------------------------
   ヘッダー
  ------------------------- */

.header {
  height: $header-height-sp;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: #fff;

  @include mq(pc) {
    height: $header-height-pc;
  }
}

.header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;

  @include mq(pc) {
    margin-inline: auto;
    padding-inline: 40px;
  }
}

.header__logo {
  a {
    img {
      width: 120px;
      display: block;
    }
  }

  @include mq(pc) {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}

.header__nav {
  background: $main-color;
  width: 72vw;
  height: calc(100% - $header-height-sp);
  position: fixed;
  right: 0;
  top: $header-height-sp;
  padding: calc(40px - 8px) 15px;
  transform: translateX(100%);
  transition: transform 0.4s linear;

  &.is-checked {
    transform: translateX(0);
  }

  @include mq(pc) {
    background: transparent;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    transform: translateX(0);
  }
}

.header__lists {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: calc(32px - 8px * 2);
  @include mq(pc) {
    flex-direction: row;
    align-items: center;
    gap: 47px;
    margin-top: 4px;
  }
}

// .header__list {
// }

.header__link {
  display: inline-block;
  padding-block: 8px;
  color: #fff;
  font-size: 1.125em; // 18px / 16px

  @include mq(pc) {
    color: $color-base;
    font-size: $font-size-base;
    transition: color 0.3s;

    &:hover {
      color: $main-color;
    }
  }
}

// .drawer-content__link {
// }

.header__open {
  @include mq(pc) {
    display: none;
  }
}

.drawer-icon {
  width: 30px;
  height: 18px;
  position: relative;
  margin-top: -3px;

  &.is-checked {
    .drawer-icon__bar {
      &:nth-of-type(1) {
        top: 11px;
        transform: rotate(44.89deg);
      }

      &:nth-of-type(2) {
        display: none;
      }

      &:nth-of-type(3) {
        top: 11px;
        transform: rotate(-44.904deg);
      }
    }
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: $main-color;
  transition:
    transform 0.4s linear,
    top 0.4s linear;

  // &:nth-of-type(1) {
  // }

  &:nth-of-type(2) {
    top: 8px;
  }

  &:nth-of-type(3) {
    top: 16px;
  }
}

/* -------------------------
   ファーストビュー
  ------------------------- */

// .fv {
// }

// .fv__inner {
// }

.fv__content {
  position: relative;
}

.fv__image {
  @include mq(pc) {
    max-width: 990px;
    margin-left: auto;
    display: block;
  }
}

.fv__message {
  margin-top: 30px;

  @include mq(pc) {
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    left: 0;
    padding: 80px 40px;
    background: #fff;
    height: fit-content;
  }
}

.fv__title {
  margin-left: -1px;
  font-size: 1.625em; // 26px / 16px
  font-weight: 600;
}

.fv__text {
  margin-top: 16px;
}

/* -------------------------
   concept
  ------------------------- */

.concept-section {
  margin-top: 94px;
  @include mq(pc) {
    margin-top: 160px;
  }
}

// .concept {
// }

// .concept__inner {
// }

.concept__content {
  flex-direction: column;
  display: flex;
  gap: 34px;

  @include mq(pc) {
    gap: calc(80px / 1200px * 100%);
    flex-direction: row;
    align-items: center;
  }
}

.concept__image {
  text-align: center;

  @include mq(pc) {
    width: calc(600px / 1200px * 100%);
    flex-shrink: 0;
  }

  img {
    width: 100%;
  }
}

.concept__message {
  @include mq(pc) {
    flex-grow: 1;
  }
}

.concept__sub-title {
  font-size: 1.25em;
  font-weight: 600;

  @include mq(pc) {
    font-size: 1.125em; // 18px / 16px
  }

  @include mq(lg) {
    font-size: 1.375em; // 22px / 16px
  }
}

.concept__text {
  margin-top: 21px;

  @include mq(pc) {
    margin-top: 40px;
  }
}

/* -------------------------
   feature
  ------------------------- */

// .feature {
// }

// .feature__inner {
// }

.feature__cards {
  display: flex;
  flex-direction: column;
  gap: 49px;
  margin-top: 45px;

  @include mq(pc) {
    gap: 40px;
    flex-direction: row;
    margin-top: 65px;
  }

  @include mq(lg) {
    gap: 60px;
  }

  @include mq(xl) {
    gap: 90px;
  }
}

.feature-card {
  background: #fff;
  box-shadow: 3px 3px 15px 0 rgb(96 96 96 / 16%);
}

.feature-card__image {
  img {
    width: 100%;
  }
}

.feature-card__body {
  padding-block: 26px;
}

.feature-card__text {
  font-weight: 600;
  text-align: center;
}

/* -------------------------
   about
  ------------------------- */
.about {
  background: url("../img/bg_about01_sp.jpg") no-repeat top center / cover;
  position: relative;
  padding-block: 180px 50px;

  @include mq(pc) {
    background-image: url("../img/bg_about01_pc.jpg");
    padding-block: 123px 122px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 12%);
    z-index: 1;
  }
}

.about__content {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 600;

  @include mq(pc) {
    width: calc(600px / 1200px * 100%);
  }
}

.about__title {
  font-size: 1.25em;

  @include mq(pc) {
    font-size: 1.375em;
  }
}

.about__text {
  font-size: 0.875em;
  margin-top: 24px;

  @include mq(pc) {
    font-size: 1em;
  }
}

/* -------------------------
   products
  ------------------------- */

.products-section {
  margin-top: 97px;
  @include mq(pc) {
    margin-top: 157px;
  }
}

// .products {
// }

.products__inner {
  padding-inline: 56px;

  @include mq(pc) {
    max-width: calc(940px + 40px * 2);
    padding-inline: 40px;
  }
}

.products__cards {
  display: flex;
  flex-direction: column;
  gap: 39px;

  @include mq(pc) {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }

  @include mq(lg) {
    gap: 80px;
  }
}

.products-card {
  @include mq(pc) {
    &:hover {
      .products-card__image {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

.products-card__image {
  img {
    width: 100%;
  }

  @include mq(pc) {
    overflow: hidden;

    img {
      transition: transform 0.5s;
    }
  }
}

.products-card__body {
  margin-top: 21px;
  font-size: 0.875em;

  @include mq(pc) {
    margin-top: 18px;
  }
}

// .products-card__title {
// }

.products-card__price {
  color: $color-text-light-gray;
  margin-top: 10px;
}

.products__button {
  margin-top: 42px;
  @include mq(pc) {
    margin-top: 44px;
  }
}

/* -------------------------
   news
  ------------------------- */

// .news {
// }

.news__inner {
  @include mq(pc) {
    max-width: calc(1040px + 40px * 2);
    padding-inline: 40px;
  }
}

// .news__cards {

// }

.news-card {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @include mq(pc) {
    gap: 24px;
  }
}

.news-card__link {
  padding-bottom: 28px;
  background: #fff;
  box-shadow: 0 1px 0 0 #e0e0e0;

  @include mq(pc) {
    display: flex;
    gap: 40px;
    padding-bottom: 24px;

    &:hover {
      .news-card__image {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

.news-card__image {
  img {
    width: 100%;

    @include mq(pc) {
      width: 260px;
      overflow: hidden;
      transition: transform 0.5s;
    }
  }
}

.news-card__body {
  @include mq(pc) {
    max-width: 736px;
  }
}

.news-card__date {
  font-size: 0.875em;
  margin-top: 17px;

  @include mq(pc) {
    margin-top: 0;
  }
}

.news-card__title {
  font-weight: 600;
  margin-top: 9px;

  @include mq(pc) {
    font-size: 1.125em; // 18px / 16px
    margin-top: 16px;
  }
}

.news-card__text {
  color: $color-text-gray;
  font-size: 0.875em;
  margin-top: 14px;

  @include mq(pc) {
    margin-top: 10px;
  }
}

.news-card__button {
  margin-top: 42px;
  @include mq(pc) {
    margin-top: 44px;
  }
}

/* -------------------------
   message
  ------------------------- */

// .message {
// }

.message__content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mq(pc) {
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
  }

  @include mq(lg) {
    gap: 60px;
  }

  @include mq(xl) {
    gap: 80px;
  }
}

.message__image {
  @include mq(pc) {
    width: calc(600px / 1200px * 100%);
    flex-shrink: 0;
  }
}

.message__body {
  @include mq(pc) {
    flex-grow: 1;
  }
}

.message__title {
  font-size: 1.25em;
  font-weight: 600;

  @include mq(pc) {
    font-size: 1.375em;
  }

  @include mq(lg) {
    font-size: 1.5625em; // 25px / 16px
  }

  @include mq(xl) {
    font-size: 1.75em; // 28px / 16px
  }
}

.message__text {
  font-size: 0.875em;
  margin-top: 22px;

  @include mq(pc) {
    font-size: 1em;
    margin-top: 36px;
  }
}

/* -------------------------
 contact
  ------------------------- */

.contact {
  background: url("../img/bg_contact01_pc.jpg") no-repeat top center / cover;
  padding-block: 56px;

  @include mq(pc) {
    padding-block: 80px;
  }
}

.contact__inner {
  @include mq(pc) {
    max-width: calc(510px + 40px * 2);
  }
}

.contact__heading {
  color: $main-color;
  gap: 27px;

  @include mq(pc) {
    gap: 23px;
  }
}

// .contact-form {
// }

.contact-form__note {
  font-size: 0.875em;
  font-weight: 600;
  text-align: center;
}

.contact-form__error-message {
  margin-top: 6px;
  font-size: 0.875em;
  font-weight: 600;
  color: $color-accent;
}

.is-required {
  color: #e7728e;
  font-weight: 600;
}

.contact-form__items {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  @include mq(pc) {
    margin-top: 19px;
  }
}

.contact-item {
  flex-direction: column;
  gap: 3px;

  @include mq(pc) {
    flex-direction: row;
    gap: 10px;
  }
}

.contact-item__head {
  @include mq(pc) {
    width: 180px;
    flex-shrink: 0;
  }
}

.form-label {
  display: inline-flex;
  color: #fff;
  background: rgba($main-color, 0.7);
  padding: 4px 16px;
  font-size: 0.875em;
  font-weight: 600;
  gap: 3px;
  align-items: center;

  @include mq(pc) {
    width: 100%;
    justify-content: center;
    font-size: 1.125em;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-inline: 4px;
    clip-path: polygon(0 0, 97% 0, 100% 50%, 97% 100%, 0% 100%);
  }
}

.form-label__required {
  color: $color-accent;
  font-size: 0.625em; // 10px / 16px
  font-weight: 600;

  @include mq(pc) {
    font-size: 0.75em; // 12px / 16px
  }
}

.contact-item__input {
  @include mq(pc) {
    flex-grow: 1;
  }
}

.form-text {
  width: 100%;
  height: 40px;
  border: 0;
  background: #fff;
  box-shadow: 5px 6px 16px 0 rgb(96 96 96 / 16%);

  &.is-invalid {
    outline: $color-accent auto 1px;
    box-shadow: 5px 6px 16px 0 rgba($color-accent, 0.32);
  }

  &:focus {
    outline: $main-color auto 1px;
    box-shadow: 5px 6px 16px 0 rgba($main-color, 0.16);
  }
}

.contact-item__radios {
  display: flex;
  align-items: center;
}

.form-radio {
  position: relative;
}

.form-radio__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked + .form-radio__text {
    background: $main-color;
    color: #fff;
  }

  &:focus + .form-radio__text {
    outline: $main-color auto 1px;
    box-shadow: 5px 6px 16px 0 rgba($main-color, 0.32);
  }
}

.form-radio__text {
  background: #fff;
  color: $main-color;
  letter-spacing: 0.026px;
  width: 80px;
  height: 40px;
  display: grid;
  place-items: center;
}

.form-textarea {
  width: 100%;
  height: 122px;
  border: 0;
  font-size: $font-size-base;
  background: #fff;
  box-shadow: 5px 6px 16px 0 rgb(96 96 96 / 16%);
  resize: vertical;

  &.is-invalid {
    outline: $color-accent auto 1px;
    box-shadow: 5px 6px 16px 0 rgba($color-accent, 0.32);
  }

  &:focus {
    outline: $main-color auto 1px;
    box-shadow: 5px 6px 16px 0 rgba($main-color, 0.16);
  }
}

.contact-item__textarea {
  margin-top: 1px;
}

.contact-form__footer {
  margin-top: 26px;

  @include mq(pc) {
    margin-top: 32px;
  }
}

.contact-form__privacy {
  text-align: center;
}

.form-checkbox {
  position: relative;
}

.form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked + .form-checkbox__text {
    &::after {
      opacity: 1;
    }
  }

  &:focus + .form-checkbox__text {
    &::before {
      outline: $main-color auto 1px;
      box-shadow: 5px 6px 16px 0 rgba($main-color, 0.16);
    }
  }

  &.is-invalid + .form-checkbox__text {
    &::before {
      border-color: $color-accent;
      background: rgba($color-accent, 0.4);
      box-shadow: 5px 6px 16px 0 rgba($color-accent, 0.32);
    }
  }
}

.form-checkbox__text {
  padding-left: 30px;

  a {
    text-decoration: underline;
    color: $main-color;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    inset-block: 0;
    margin-block: auto;
  }

  &::before {
    width: 22px;
    height: 22px;
    border: 1px solid $main-color;
    background: #fff;
  }

  &::after {
    opacity: 0;
    width: 19.414px;
    height: 14.621px;
    left: 1.29px;
    background: url("../img/icon_checkbox01.png") no-repeat center center /
      contain;
  }
}

.contact-form__submit {
  margin-top: 23px;
}

/* -------------------------
   footer
  ------------------------- */

.footer {
  background: $color-bg-footer;
  padding-top: 35px;
  padding-bottom: 10px;

  @include mq(pc) {
    padding-bottom: 14px;
  }
}

// .footer__inner {
// }

.footer__content {
  display: grid;
  place-items: center;
}

.footer__logo {
  a {
    img {
      width: 120px;
    }
  }

  @include mq(pc) {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}

.footer__menu-items {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  margin-top: 22px;

  @include mq(pc) {
    flex-direction: row;
    gap: 32px;
  }
}

// .footer-content__menu-item {
// }

.footer__menu-link {
  font-size: 0.75em;

  @include mq(pc) {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}

.footer__nav-list {
  margin-top: 13px;

  @include mq(pc) {
    margin-top: 14px;
  }
}

.footer-list {
  display: flex;
  gap: 40px;
}

// .footer-list__item {
// }

// .footer-list__link {
// }

// .footer-list__img {
// }

.footer__wrapper {
  margin-top: 19px;
  text-align: center;

  @include mq(pc) {
    margin-top: 21px;
  }
}

.footer__copyright {
  color: $color-text-gray;
  font-size: 0.75em;
}
